<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>

  <body>
    <header><%- include('../partials/adminHeader.ejs') %></header>
    <h2>Edit Product</h2>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
      <h3>Display Info</h3>
        Name: <input type="text" name="name" value="<%=product.name%>" placeholder="My Print" /><br />
        Description: <input type="text" name="description" value="<%=product.description%>" /><br />
        ImageURL: <input type="text" name="img" value="<%=product.img%>" placeholder='"imageAddress"'/><br />
        Material: <input type="string" name="material" value="<%=product.material%>" placeholder="PLA/ABS/PETG" /><br />
        Weight: <input type="number" step="0.1" min="0" name="weight" value="<%=product.weight%>" placeholder="oz" /><br />
        Height: <input type="number" step="0.1" min="0" name="height" value="<%=product.weight%>" placeholder="in" /><br />
        Width: <input type="number" step="0.1" min="0" name="width" value="<%=product.weight%>" placeholder="in" /><br />
        Depth: <input type="number" step="0.1" min="0" name="depth" value="<%=product.weight%>" placeholder="in" /><br />
      <h3>Print Settings</h3>
        Nozzle Temp: <input type="number" min="0" name="depth" value="<%=product.weight%>" placeholder="in" /><br />
        Bed Temp: <input type="number" min="0" name="depth" value="<%=product.weight%>" placeholder="in" /><br />
      <h3>Additional Notes</h3>
      <input type="submit" value="SUBMIT CHANGES" />
      <br/>
      <input type="button" value="CANCEL" onclick="window.location.href='/products'"/>
    </form>
  </body>
</html>