<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <%products.forEach(product => {%>
        <ul style="list-style: none;">
			<li><a href="/products/<%=product._id%>"><%=product.name;%></a>
				<form action="/products/<%=product.id %>?_method=DELETE" method="POST" style="display:inline; margin-left:16px;">
				  <input type="submit" value="DELETE" style="background-color: coral;" />
			  	</form>
				<input type="button" value="EDIT" 
				style="background-color: rgb(82, 158, 82); margin-left: 16px;"
				onclick="window.location.href='/products/<%=product._id%>/edit'">
			</li>
			</ul>	
    <%})%> 
</body>
</html>