<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
	</head>
	<body>
        <header><%- include('../partials/header.ejs')%></header>
        <nav><%- include('../partials/nav.ejs') %></nav>
		<h1><%= product.name %></h1>
		<p>Description: <%= product.description %></p>
        <p>Image: <%= product.img %></p>
        <p>Price: <%= product.price %></p>
        <p>Material: <%= product.material %></p>
	</body>
</html>